<%= render "customer/customer_header"%>

<div class="container">
  <div class="row">

<%= form_with model: @customer, url: customer_registration_path(current_customer), local: true do |f| %>


    <div class="col-xs-10">
        <h2 class="title">登録情報編集</h2>

      <div class="row form-group">
        <label class="col-xs-3 control-label"> 名前</label>
        <div class="col-xs-4">
          （姓）<%= f.text_field :last_name, class: "form-control",autofocus: true, autocomplete: "last_name", placeholder: "姓" %>
        </div>
        <div class="col-xs-4">
          （名）<%= f.text_field :first_name, class: "form-control",autofocus: true, autocomplete: "first_name", placeholder: "名" %>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-xs-3 control-label"> フリガナ</label>
        <div class="col-xs-4">
          （セイ）<%= f.text_field :last_name_kana, class: "form-control",autofocus: true, autocomplete: "姓", placeholder: "セイ" %>
        </div>
        <div class="col-xs-4">
          （メイ）<%= f.text_field :first_name_kana, class: "form-control",autofocus: true, autocomplete: "name", placeholder: "メイ" %>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-xs-3 control-label"> メールアドレス</label>
        <div class="col-xs-4" >
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-xs-3 control-label"> 郵便番号（ハイフンなし）</label>
        <div class="col-xs-4" >
          <%= f.text_field :postcode, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "郵便番号" %>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-xs-3 control-label"> 住所</label>
        <div class="col-xs-8" >
          <%= f.text_field :address, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "住所" %>
        </div>
      </div>

     <div class="row form-group">
        <label class="col-xs-3 control-label"> 電話番号（ハイフンなし）</label>
        <div class="col-xs-4" >
          <%= f.text_field :phone_number, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "電話番号" %>
        </div>
      </div>
  <% end %>

  <form class="form-inline">
    <div style="form-gruoup">
      <div class="col-xs-offset-3" style="margin-top :20x;">
           <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
           <%= link_to "退会する",withdrawal_customers_path(customer.id),class: "btn btn-danger col-xs-offset-7",style: "font-size:12px;" %>
     </div>
    </div>
  </form>


<%= render "customer/footer"%>







