<%= render 'customer/customer_header' %>
<div class="container">
    <!--サクセスメッセージ-->
    <% if flash[:notice] %>
        <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>
    <div class="row">
        <div class="col-xs-3">
            <!--ジャンル検索機能の部分テンプレートの-->
            <%= render 'customer/genres/genre_search', genres: @genres %>
        </div>
        <div class="col-xs-9">
            <div class="main-visual">
                <div class="main-visual-text-box">
    				<p>
    				  <span><strong>ようこそ、NaganoCakeへ！</strong></span><br>
    				  このサイトは、ケーキ販売のECサイトになります。<br>
    				  会員でない方も商品の閲覧はできますが、<br>
    				  購入には会員登録が必要になります。<br>
    				</p>
				</div>
            </div>
            <h1><strong>オススメ商品</strong></h1>
            <div class="recommend-products-area">
                <!--ランダムで4つ商品を表示させる-->
                <% @products.each do |product| %>
                    <%= render 'customer/products/product', product: product %>
                <% end %>
            </div>
            <%= link_to "もっと見る>", products_path , class: "pull-right field" %>
        </div>
    </div>
</div>
<%= render 'customer/footer' %>