<header class="navbar navbar-default">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <font size="5"><strong>Suits_ec</strong></font>

    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li><%= link_to ' 商品一覧', admin_products_path, class: 'btn btn-info' %></li>
          <li><%= link_to ' 会員一覧', admin_customers_path, class: 'btn btn-info'  %></li>
          <li><%= link_to ' 注文履歴一覧', admin_orders_path, class: 'btn btn-info' %></li>
          <li><%= link_to ' ジャンル一覧', admin_genres_path, class: 'btn btn-info' %></li>
          <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-info'  %></li>
        <% else %>
          <li><%= link_to ' About', about_path, class: 'btn btn-info '  %></li>
          <li><%= link_to ' 商品一覧', admin_products_path, class: 'btn btn-info'  %></li>
          <li><%= link_to ' 新規登録', new_admin_registration_path, class: 'btn btn-info'  %></li>
          <li><%= link_to ' ログイン', new_admin_session_path, class: 'btn btn-info' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>