<%= render 'customer/customer_header' %>

<div class="container" >
  <div class="row">
    <div class="col-xs-12">

      <%= form_with model: @order, url: confirm_orders_path, local: true do |f| %>

      <!--エラーメッセージ-->
      <%= render 'layouts/errors', obj: @order %>

      <h2 class="title">注文情報入力</h2>

      <!--支払方法-->
      <div class="row form-group">
        <label class="strong", style="font-size: 20px;" >支払方法</label></br>
        <div class="box", style="font-size: 18px; padding-left: 30px;">
          <%= f.radio_button :pay_method, "クレジットカード", checked: true, style: "width:20px; height: 20px;" %>&nbsp;クレジットカード</br>
          <%= f.radio_button :pay_method, "銀行振込", style: "width:20px; height: 20px;" %>&nbsp;銀行振込
        </div>
      </div>

      <!--お届け先-->
      <div class="row form-group">
        <label class="strong", style="font-size: 20px; ">お届け先</label></br>
        <!--①会員登録の住所を選択-->
        <div class="box", style="font-size: 18px; padding-left: 30px;">
          <%= f.radio_button :shipping_address, "0", checked: true, style: "width:20px; height: 20px;" %>&nbsp;現在のご住所
          <div class="address",  style="padding-left: 30px;">
            <%= @customer.postcode %> <%= @customer.address %></br>
            <%= @customer.full_name %>
          </div>
        </div>
      </div>

      <!--②配送先の住所から選択-->

      <div class="row form-group">
        <!--配送先が0じゃなかったら？-->
        <div class="box", style="font-size: 18px; padding-left: 30px;">
          <% if @shippings.count != 0 %>
          <%= f.radio_button :shipping_address, "1", style: "width:20px; height: 20px;" %>&nbsp;登録済み住所から選択</br>
          <div class="col-xs-10", style="padding-left: 30px;">
              <!--↓参照先id,変数,何番目をとってきたかのid,選択肢-->
              <%= f.collection_select :shipping_id, @shippings, :id, :full_address, {},{ class: "form-control"}%>
            </div>
          <% else %>
            <%= f.radio_button :shipping_address, "1", style: "width:20px; height: 20px;", disabled: true %>&nbsp;登録済み住所から選択</br>
            <div class="col-xs-10", style="padding-left: 30px;">
            <p class="memo" style="color: red;">配送先が登録されていません</p>
            </div>
          <% end %>
        </div>
      </div>

      <!--③今回限りの配送先を入力-->
      <div class="row form-group">
        <div class="box", style="font-size: 18px; padding-left: 30px;">
          <%= f.radio_button :shipping_address, "2", style: "width:20px; height: 20px;" %>&nbsp;新しいお届け先
        </div>
        <div class="row field", style="padding-left: 50px;">
          <p class="col-xs-3 control-label">郵便番号（ハイフンなし）</p>
          <div class="col-xs-3">
            <%= f.text_field :postcode, class:"form-control" %>
          </div>
        </div>
        <div class="row field", style="padding-left: 50px;">
          <p class="col-xs-3 control-label">住所</p>
          <div class="col-xs-5">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>
        <div class="row field", style="padding-left: 50px;">
          <p class="col-xs-3 control-label">宛名</p>
          <div class="col-xs-3">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <!--ボタン-->
      <div class="col-xs-2 col-xs-offset-5", style="margin-bottom: 30px;">
        <%= f.submit '確認画面へ進む', class:"btn btn-primary btn-lg" %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'customer/footer' %>