<%= render 'admin/admin_header' %>
<%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

<!--細かいデザインは後からから決める -->
<div class ="container">
  <div class="row">

  <div class="col-xs-8 col-xs-offset-2" style="margin-top: 100px;">
   
    <h2 class ="title">管理者ログイン</h2>

        <div class="row form-group">
          <label class="col-xs-3 control-label" > メールアドレス </label>
          <div class="col-xs-5">
            <%= f.email_field :email, autofocus: true, class: "form-control", style: "margin-top: 10px;", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

         <div class="row form-group">
            <label class="col-xs-3 control-label" >　パスワード </label>
          <div class="col-xs-5">
             <%= f.password_field :password, autofocus: true,class: "form-control", style: "margin-top: 10px;", autofocus: true, autocomplete: "password"%>
          </div>

        <div class="row form-group">
      		<div class="col-xs-3 col-xs-offset-3">
      			<%= f.submit "ログイン" , class: "btn btn-default btn-primary",style: "margin-top: 20px;"%>
      		</div>
      	</div>
       <% end %>
  
       </div>
    </div>
