<div class="row form-group">
  <%= f.label "商品名", class: "col-sm-3 control-label" %>
  <div class="col-sm-4">
	  <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="row form-group">
	<%= f.label "商品説明", class: "col-sm-3 control-label" %>
	<div class="col-sm-4">
	  <%= f.text_area :explanation, class: "form-control" %>
  </div>
</div>

<div class="row form-group">
	<%= f.label "ジャンル", class: "col-sm-3 control-label" %>
	<div class="col-sm-4">
	  <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "form-control") %>
  </div>
</div>

<div class="row form-group">
	<%= f.label "税別価格", class: "col-sm-3 control-label" %>
	<div class="col-sm-4">
	  <%= f.text_field :after_tax_price, class: "form-control" %>
  </div>
  円
</div>

<div class="row form-group">
	<%= f.label "販売ステータス", class: "col-sm-3 control-label" %>
	<div class="col-sm-4">
	  <%= f.select :is_sale, [["販売中",true],["売切れ",false]], {include_blank: '--選択してください--'}, class: "form-control" %>
  </div>
</div>